.emptyList {
  margin: auto;
  text-align: center;
  padding: 10vmax;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fa-heart-broken {
  color: #a77066;
}

.emptyList > p {
  font-size: 2vmax;
  font-family: "Bodoni Moda", sans-serif;
}
.emptyList > a {
  background-color: rgb(24, 23, 23);
  color: #998d79;
  border: none;
  padding: 1vmax 3vmax;
  cursor: pointer;
  font: 400 1vmax "Raleway";
  text-decoration: none;
}

.listPage {
  padding: 5vmax;
}

.listHeader {
  background-color: #a77066;
  width: 90%;
  box-sizing: border-box;
  margin: auto;
  color: white;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  font: 300 1vmax "Raleway";
}

.listHeader > p {
  margin: 10px;
}

.listHeader > p:last-child {
  text-align: end;
}

.listContainer {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
}

.listInput {
  display: flex;
  align-items: center;
  height: 8vmax;
}

.listInput > button {
  border: none;
  background-color: rgba(0, 0, 0, 0.616);
  padding: 0.7vmax;
  cursor: pointer;
  color: white;
  transition: all 0.5s;
}

.listInput > button:hover {
  background-color: rgba(0, 0, 0, 0.767);
}

.listInput > input {
  border: none;
  padding: 0.5vmax;
  width: 1vmax;
  text-align: center;
  outline: none;
  font: 400 0.8vmax "Raleway";
  color: rgba(0, 0, 0, 0.74);
}

.listSubtotal {
  display: flex;
  padding: 0.5vmax;
  height: 8vmax;
  align-items: center;
  box-sizing: border-box;
  font: 300 1vmax "Raleway";
  justify-content: flex-end;
  color: rgba(0, 0, 0, 0.753);
}

.listGrossProfit {
  display: grid;
  grid-template-columns: 2fr 1.2fr;
}

.listGrossProfitBox {
  border-top: 3px solid #1f1e1d;
  margin: 1vmax 4vmax;
  box-sizing: border-box;
  padding: 2vmax 0;
  font: 300 1vmax "Raleway";
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .listPage {
    padding: 0;
    min-height: 60vh;
  }

  .listHeader {
    width: 100%;
    font: 300 1.7vmax "Raleway";
    grid-template-columns: 3fr 1fr 1fr;
  }

  .listContainer {
    width: 100%;
    grid-template-columns: 3fr 1fr 1fr;
  }

  .listInput {
    height: 20vmax;
  }

  .listInput > button {
    padding: 1.5vmax;
  }

  .listInput > input {
    width: 2vmax;
    padding: 1.5vmax;
    font: 400 1.8vmax "Raleway";
  }

  .listSubtotal {
    padding: 1.5vmax;
    height: 20vmax;
    font: 300 2vmax "Raleway";
  }

  .listGrossProfit {
    display: grid;
    grid-template-columns: 0fr 2fr;
  }

  .listGrossProfitBox {
    padding: 2vmax;
    font: 300 2vmax "Raleway";
  }

  .checkOutBtn > button {
    padding: 2vmax 4vmax;
    width: 100%;
    font: 300 2vmax "Raleway";
  }
}
