body {
  margin: 0px;
}

.banner {
  background-image: url("../../../src/images/banner8.jpg");
  background-size: cover;
  height: 660px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: black;
}

.banner > h1 {
  margin: 5vmax;
  font: 400 2.5vmax "Bodoni Moda";
}

.banner > p {
  font: 300 1.7vmax "Raleway";
}

.homeHeading {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 1.4vmax;
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.678);
  border-bottom: 1px solid rgba(0, 0, 0, 0.171);
  width: 20vmax;
  padding: 1vmax;
  margin: 5vmax auto;
}

.container {
  display: flex;
  margin: 2vmax auto;
  width: 80vw;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}

.productCard {
  padding-top: 2vmax;
  width: 16vmax;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: rgb(48, 48, 48);
  margin: 2vmax;
  transition: all 0.4s;
  padding-bottom: 2vmax;
}

.productCard > img {
  width: 15vmax;
  height: 15vmax;
  object-fit: contain;
}

.productCard > div {
  margin: 0.5vmax;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.productCardSpan {
  margin: 0.5vmax;
  font: 300 0.8vmax "Raleway";
}

.productCard > p {
  font-family: "Raleway", sans-serif;
  font-size: 1.2vmax;
  margin: 1vmax 0.5vmax;
  margin-bottom: 0;
}

.productCard > p:last-of-type {
  font-family: "Bodoni Moda", sans-serif;
  color: rgba(54, 54, 54, 0.582);
  font-size: 0.8vmax;
  margin: 0.5vmax 0.5vmax;
  margin-bottom: 0;
}

.productCard > span {
  margin: 0.5vmax;
  color: rgb(48, 48, 48);
  font-family: "Raleway", sans-serif;
}

.productCard:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.productBadgeLowStock {
  align-items: flex-end;
  z-index: 1;
  font-size: 0.8vmax;
  font-family: "Raleway", sans-serif;
  margin-left: 0.7vmax;
  margin-inline: 0.7vmax;
  margin-bottom: 1vmax;
  padding: 0 0.7vmax;
  width: fit-content;
  height: 1.5vmax;
  justify-content: center;
  border: none;
  cursor: pointer;
  background-color: #f4f2e4;
  color: #817244;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.219);
}

.productBadgeNoStock {
  align-items: flex-end;
  z-index: 1;
  font-size: 0.8vmax;
  font-family: "Raleway", sans-serif;
  margin-left: 0.7vmax;
  margin-bottom: 1vmax;
  padding: 0 0.7vmax;
  width: fit-content;
  height: 1.5vmax;
  justify-content: center;
  border: none;
  cursor: pointer;
  background-color: #fef0ef;
  color: #ec7474;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.219);
}

.productBadgeBest {
  align-items: flex-end;
  z-index: 1;
  font-size: 0.8vmax;
  font-family: "Raleway", sans-serif;
  margin-left: 0.7vmax;
  margin-bottom: 1vmax;
  padding: 0 0.7vmax;
  width: fit-content;
  height: 1.5vmax;
  justify-content: center;
  border: none;
  cursor: pointer;
  background-color: #d1d5da;
  color: #53636d;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.219);
}

.productNoBadge {
  height: 1.5vmax;
  margin-bottom: 1vmax;
  font-size: 0;
  font-family: "Raleway", sans-serif;
  justify-content: center;
  border: none;
  background-color: transparent;
}

@media screen and (max-width: 600px) {
  .productCard > p {
    font-size: 1.7vmax;
  }

  .productCard > div {
    margin: 0vmax;
    display: block;
  }

  .productCard > span {
    font-size: 1.5vh;
  }

  .productCard > div > span {
    margin: 0 0.5vmax;
    font: 300 1vmax "Raleway";
  }
}
